.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    /* height: 200px; */
    padding: 8px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-right: 16px;
}
.list {
    list-style: none;
    margin-bottom: 20px;        
}
.list-item {
    border: 1px solid #ccc; 
    border-bottom: 0px;
  
}
.list-item:last-child {
    border-bottom: 1px solid #ccc;
}
.list-link {
    display: block;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.list-link:hover {
    text-indent: 16px;
}

.sidebar-icon {
    text-align: center
}

.icon {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.male {
    background-image: url(https://image.flaticon.com/icons/svg/265/265674.svg);
}

.female {
    background-image: url(https://image.flaticon.com/icons/svg/145/145852.svg);
}

.team {
    background-image: url(https://image.flaticon.com/icons/svg/236/236822.svg);
}